.cardheader {
    display: flex;
    align-items: center;
}
.rating {
    margin-left: auto;
    padding: 4px 8px;
}

.bestSeller {
   display: flex;
   align-items: center;
   span {
        background-color: coral;
        margin-left: 16px;
        padding: 2px 4px;
    }
}

.author {
    font-style: italic;
    font-weight: 600;
}

.learnMore {
    display: flex;
    justify-content: flex-end;    
}

.ratingGreen {
    background-color: #00ff00;
}

.ratingYellow {
    background-color: #ff9900;
}

.ratingRed {
    background-color: #ff0000;
}