.cardheader {
    display: flex;
    align-items: center;
}
.rating {
    margin-left: auto;
    padding: 4px 8px;
    .mobileRating {
        display: none;
    }
    @media screen and (max-width: 768px) {
        .mobileRating{
            display: flex;
            align-items: center;
        }
        .desktopRating {
            display: none;
        }
    }
}

.bestSeller {
   display: flex;
   align-items: center;
   span {
        background-color: coral;
        margin-left: 16px;
        padding: 2px 4px;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    p {
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
            
        }
    }
}
.courseDetails {
    display: flex;
    .linkButtonContainer {
        margin-left: auto;
        margin-top: auto;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        
    }
}

.tags {
    background-color: #edddd4;
    padding: 2px 4px;
    border-radius: 6px;
    margin-right: 4px;
}
.author {
    font-style: italic;
    font-weight: 600;
}

.learnMore {
    display: flex;
    justify-content: flex-end;    
}

.ratingGreen {
    background-color: #00ff00;
}

.ratingYellow {
    background-color: #ff9900;
}

.ratingRed {
    background-color: #ff0000;
}