.header {
    padding: 0px 24px;
    display: flex;
    align-items: center;
    background-color: #283d3b;
    color: #fff;
    .brand {
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: gray;
        }
        @media screen and (max-width: 768px) {
            font-size: 1rem;
        }   
    }
    .nav {
        display: flex;
        align-items: center;
        margin-left: auto;
        text-decoration: none;
        text-transform: uppercase;
        * {
            margin-left: 12px;
            &:hover {
                text-decoration: underline;
            }
        }
        @media screen and (max-width: 768px) {
            font-size: 0.8rem;
        }
            
    }
}