.header {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    background-color: #283d3b;
    color: #fff;
    .brand {
        font-size: 2rem;
        font-weight: bold;
    }
    .nav {
        display: flex;
        align-items: center;
        margin-left: auto;
        text-decoration: none;
        text-transform: uppercase;
        *:not(:first-child) {
            margin-left: 12px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}